* {
    margin: 0px;
    padding: 0px;
  }
img {
    /* vertical-align: middle; */
    max-height: 10%;
    width: 4%;
    border-radius: 100%;
}
/* body{
    background-image:none;
  } */

.nav1 {
    margin-right: 30px;
}

